<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
</head>
<body>
	<h1>Books</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>				
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.year}"></td>
				<td><a class="btn btn-danger" href="deletebook">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-success" href="/addbook">Add Book</a>
</body>
</html>